<div class="w3l-index-block4 pb-5">
  <div class="features-bg pb-lg-5 pt-lg-4 py-4">
    <div class="container">
      <div class="title-main text-center mx-auto mb-md-4">
        <h3 class="title-big">Our  Courses</h3>
        <p class="sub-title mt-2">Cum doctus civibus efficiantur in imperdiet deterruisset. Cras efficitur, metus gravida suscipit cursus, dui diam pre lorem id lectus.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 features15-col-text">
          <a href="courses.html" class="d-flex feature-unit align-items-center">
            <div class="col-4">
              <div class="features15-info">
                {% load static %}
                <img class="img-fluid" src="{% static 'images/c2.png' %}" alt=" " />
              </div>
            </div>
            <div class="col-8">
              <div class="features15-para">
                <h4>BCA</h4>
                <p>bactural of computer application</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 features15-col-text">
          <a href="courses.html" class="d-flex feature-unit align-items-center">
            <div class="col-4">
              <div class="features15-info">
                {% load static %}
                <img class="img-fluid" src="{% static 'images/c4.png' %}" alt=" " />
              </div>
            </div>
            <div class="col-8">
              <div class="features15-para">
                <h4>Bcom CA</h4>
                <p>comerse department</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 features15-col-text">
          <a href="courses.html" class="d-flex feature-unit align-items-center">
            <div class="col-4">
              <div class="features15-info">
                {% load static %}
                <img class="img-fluid" src="{% static 'images/c5.png' %}" alt=" " />
              </div>
            </div>
            <div class="col-8">
              <div class="features15-para">
                <h4>ba English</h4>
                <p>english department ,learn everything</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 features15-col-text">
          <a href="courses.html" class="d-flex feature-unit align-items-center">
            <div class="col-4">
              <div class="features15-info">
                {% load static %}
                <img class="img-fluid" src="{% static 'images/c5.png' %}" alt=" " />
              </div>
            </div>
            <div class="col-8">
              <div class="features15-para">
                <h4>bcom tax</h4>
                <p>let learn about <br> economy</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
