{% extends "base.html" %}
{% block title %}Our Depaetments{% endblock title %}
{% block content %}
{% load static %}
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">Departments</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url "index" %}">Home</a></li>
                <li class="active"><i class="bi bi-arrow-right-circle mx-2"></i>Departments</li>
            </ul>
        </div>
    </section>
</div>
<div class="w3l-grids-block-5 py-5">
    <section id="grids5-block" class="pt-md-4 pb-md-5 py-4 mb-5">
        <div class="container">
            <div class="title-main text-center mx-auto mb-4">
                <h3 class="title-big">Our Departments</h3>
                <p class="sub-title mt-2">Cum doctus civibus efficiantur in imperdiet deterruisset. Cras efficitur,
                    metus
                    gravida suscipit cursus, dui diam pre lorem id
                    lectus.</p>
            </div>
            <div class="row mt-sm-5 pt-lg-2">

                {% for d in department %}

                <div class="col-lg-4 col-sm-6">
                    <div class=" grids5-info">
                        <a href="#blog"><img src="{% static 'images/blog1.jpg' %}" alt="" /></a>
                        <div class="blog-info">
                            {% comment %} <h5>October 3, 2019</h5> {% endcomment %}
                            <h4><a href="#blog">{{d.name}}</a></h4>
                            <p>{{d.description}}</p>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

            </div>
        </div>
    </section>
</div>
{% endblock content %}